[Unit]
Description=Redshift Client Daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
SyslogLevel=err
ExecStart=/usr/bin/redshift -l 33:97

[Install]
WantedBy=default.target
