.ICAClient/
.Xauthority
.asoundrc.asoundconf
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.calc_history
.elinks/
.esd_auth
.gitconfig
.gitrepo
.mozilla/
.pki/
.rnd
.thunderbird/
.viminfo
.wpa_cli_history
.xinitrc
Documents/
.config/remmina*
.config/spotify*
.local/share/clipit*
.local/share/remmina*
.local/share/xorg/*
.config/qutebrowser/*
.lesshst
.local/share/qutebrowser/*
.config/pulse/*
.config/xfce4/*
README.md
.config/mimeapps.list
.local/share/gvfs-metadata/*
.local/share/recently-used.xbel
.local/share/Trash
.config/clipit/*
.local/share/teamviewer*
.local/share/ranger*
.config/teamviewer/*
.config/vlc/*
.local/share/vlc/
.weather.cache
.config/libreoffice*
.config/autostart*
.config/dconf/user
.config/QtProject.conf
.local/share/tracker/data/tracker-store.ontology.journal
.config/Thunar/accels.scm
.config/freerdp/known_hosts2
.config/ristretto/accels.scm
.gstreamer-1.0/
.kde/
.local/share/applications/configmgr.desktop
.local/share/applications/conncenter.desktop
.local/share/applications/new_store.desktop
.local/share/applications/selfservice.desktop
.local/share/applications/wfica.desktop
.local/share/icons/
.local/share/mime/
.mailcap
.mime.types
ICAClient/
.config/chromium/
.config/menus/
.local/share/applications/chrome-haiffjcadagjlijoggckpgfnoeiflnem-Default.desktop
.local/share/desktop-directories/
chrome-haiffjcadagjlijoggckpgfnoeiflnem-Default.desktop
uid.php
.local/share/gvfs-metadata/root
.local/share/gvfs-metadata/root-d8389bb8.log
.fehbg
Pictures/
Downloads/
.config/configstore/
.npm/
VideoDecodeStatus/
.GA_ClientID
